.khan__buy-link {
  padding: 0;
  margin: 0;
  color: #2f80ed;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  transition: opacity .4s ease-in-out;
}

.khan__buy-link:hover {
  opacity: 60%;
}
